@font-face {
  font-family: akzidenzgrotesk;
  src: url('/fonts/akzidenzgrotesk-bold-webfont.ttf');
  font-weight: bold;
}

@font-face {
  font-family: akzidenzgrotesk;
  src: url('/fonts/akzidenzgrotesk-regular-webfont.ttf');
  font-weight: 400;
}

@font-face {
  font-family: akzidenzgrotesk;
  src: url('/fonts/akzidenzgrotesk-medium-webfont.ttf');
  font-weight: 500;
}

.title-super {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 44px; 
}

.title-large {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 44px; 
}

.body {
  font-size: 18px;
  letter-spacing: -0.75px;
  line-height: 22px; 
}

.collout-medium {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 19px; 
}