@import 'base';
@import 'components';

:root {
  font-size: 16px;
}

* {
	font-family: akzidenzgrotesk;
}

html {
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
  background-color: $sand;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.layout-enter-active {
  transition: opacity 0.2s ease-in-out;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.animate__delay-1s {
  --animate-delay: 700ms;
}