<template>
  <div
    :class="
      'button-component flex w-full items-center w-full justify-between ' + bg
    "
  >
    <p class="button-component__title w-2/5">{{ title }}</p>
    <div class="flex items-center w-3/5 justify-between">
      <slot name="content"></slot>
      <slot v-if="custIcon" name="icon"></slot>
      <nuxt-link v-else :to="link">
        <svg
          width="22"
          height="12"
          viewBox="0 0 22 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 0L22 6L16 12V7.2H0V4.8H16V0Z" fill="#ffffff" />
        </svg>
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ButtonComponent',
  props: {
    title: {
      type: String,
      default: 'Play Now'
    },
    link: {
      type: String,
      default: '/'
    },
    bg: {
      type: String,
      default: 'bg-blue'
    },
    custIcon: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'button-component';
</style>
