.flyup-component {
  width: 100%;
  animation:myship 1s;

  &.upper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 105px - 92px);
  }

  &__header {
    .toggle-icon {
      -webkit-transition: .2s ease-in-out;
      -moz-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out;
    }
  }

  &__content {
    padding: 1rem 0;
    display: none;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-out;

    .list-item {
      padding: 12px;
    }
  }

  &__item {
    border-bottom: 1px solid $concrete;
    &:first-child {
      border-top: 1px solid $concrete;
    }

    &.active {
      height: 100%;

      .flyup-component__content {
        display: block;
        opacity: 1;
        padding: 12px 0;
      }

      .toggle-icon {
        transform: rotate(180deg);
      }
    }

    &-name {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.5px;
      font-weight: bold;
    }

    &-status {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.5px;
    }
  }
}

@keyframes myship{
  from {top: unset;} 
  to{top: 0;} 
}