<template>
  <ul
    :class="
      'flyup-component px-4 bg ' + (selectedOption.id > -1 ? 'upper' : '')
    "
  >
    <li
      v-for="(item, index) in data"
      :key="'menu-' + index"
      :class="
        'flyup-component__item w-full bg py-4 cursor-pointer ' +
          (selectedOption.id == index ? 'active' : '')
      "
    >
      <div
        class="flyup-component__header flex items-center justify-between"
        @click="
          {
            showOption(index)
          }
        "
      >
        <p class="flyup-component__item-name w-1/3">{{ item.name }}</p>
        <p class="flyup-component__item-status w-1/2">
          {{
            formOption.length > 0
              ? findList(item.list, formOption[index].list_id)
              : ''
          }}
        </p>
        <button class="toggle-icon">
          <img class="ml-auto" src="@/assets/images/icons/gf-caret-down.svg" />
        </button>
      </div>
      <div class="flyup-component__content">
        <div v-for="(val, idx) in item.list" :key="'list-item-' + idx">
          <div
            v-if="formOption.length > 0 && formOption[index].list_id !== val.id"
            class="flex items-center list-item justify-between"
            @click="selectOption(val.id, index)"
          >
            <div class="w-1/3"></div>
            <p class="flyup-component__item-status w-1/2">
              {{ val.name }}
            </p>
            <div class="w-4"></div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</template>
<script>
import options from '@/data/local/options.json'
import global from '@/mixins/global'

export default {
  name: 'FlyupComponent',
  mixins: [global],
  data() {
    return {
      selectedOption: {
        id: -1
      },
      data: options,
      formOption: []
    }
  },
  mounted() {
    this.initOptions()
  },
  methods: {
    initOptions() {
      // eslint-disable-next-line no-loops/no-loops
      for (let index = 0; index < options.length; index++) {
        const element = options[index]

        this.formOption.push({
          list_id: element.default
        })
      }
    },
    showOption(index) {
      if (this.selectedOption.id === index) {
        this.selectedOption.id = -1
      } else {
        this.selectedOption.id = index
      }
    },
    selectOption(id, index) {
      this.formOption[index].list_id = id
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'flyup-component';
</style>
