.match-component {
  color: white;
  padding-top: 147px;
  padding-bottom: 81px;

  &__background {
    z-index: -1;
    height: 100%;
    width: 100%;
  }

  &__content {
    z-index: 0;
    margin-bottom: 60px;

    &-subtitle {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.5px;
      font-weight: bold;
    }

    &-title {
      font-size: 48px;
      line-height: 44px;
      letter-spacing: -3px;
      font-weight: bold;
    }

    &-desc {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.75px;
    }
  }

  &__profile {
    margin-bottom: 32px;

    &-img {
      padding: 6px;
      border: 2px solid white;
      img {
        height: 46px;
        width: 46px;
      }
    }
  }
}