<template>
  <div class="match-component px-4 mr-6 relative">
    <transition name="fade">
      <div
        :class="
          'match-component__background absolute animate__animated animate__slideInLeft animate__fast top-0 left-0 right-0 bottom-0 ' +
            bg
        "
      ></div>
    </transition>
    <div class="match-component__content">
      <p class="match-component__content-subtitle mb-6">Matchmaking Lobby</p>
      <h1
        class="match-component__content-title mb-6 animate__animated animate__delay-1s animate__bounceIn"
      >
        {{ title }}
      </h1>
      <p class="match-component__content-desc">
        {{ desc }}
      </p>
    </div>
    <div class="match-component__state">
      <div class="flex items-center match-component__profile">
        <p class="w-1/4">Lobby</p>
        <div class="match-component__profile-img rounded-full">
          <img
            src="@/assets/images/avatars/avatar.png"
            class="rounded-full object-cover"
            alt="avatar"
          />
        </div>
      </div>
      <div class="flex items-center">
        <div class="w-1/4">
          <img src="@/assets/images/icons/gf-line.svg" />
        </div>
        <div class="w-3/4">
          <slot name="information"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MatchComponent',
  props: {
    bg: {
      type: String,
      default: 'bg-blue'
    },
    title: {
      type: String
    },
    desc: {
      type: String
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'match-component';
</style>
