<!doctype html>
<html {{ html_attrs }}>
  <head {{ head_attrs }}>
    {{ HEAD }}
  <link href="/_nuxt/4f778e369883429f8c51.css" rel="stylesheet"><link href="/_nuxt/de9a0faac372febf5d15.css" rel="stylesheet"></head>
  <body {{ body_attrs }}>
    {{ APP }}
  <script type="text/javascript" src="/_nuxt/bd37e4470484eb3782f7.js"></script><script type="text/javascript" src="/_nuxt/e79e92805f999df0dee9.js"></script><script type="text/javascript" src="/_nuxt/f03b883f9f0d7b8db010.js"></script><script type="text/javascript" src="/_nuxt/acffbf63f4c55031d572.js"></script></body>
</html>
