<template>
  <div>
    <header-component />
    <main>
      <nuxt />
    </main>
  </div>
</template>
<script>
import headerComponent from '@/components/layouts/header-component.vue'
import global from '@/mixins/global'

export default {
  name: 'DefaultLayout',
  components: {
    headerComponent
  },
  mixins: [global]
}
</script>
