<template>
  <div>
    <top-header-component />
    <main class="relative main">
      <button class="layout__back absolute top-0 left-0" @click="back()">
        <svg
          width="27"
          height="12"
          viewBox="0 0 27 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto"
        >
          <path d="M7.8 0L0.6 6L7.8 12V7.2H27V4.8H7.8V0Z" fill="#FFF" />
        </svg>
      </button>
      <nuxt />
    </main>
    <div class="layout__bg-image"></div>
    <div class="layout__bg-g"></div>
  </div>
</template>
<script>
import topHeaderComponent from '@/components/layouts/top-header-component.vue'

export default {
  name: 'NoNavLayout',
  components: {
    topHeaderComponent
  },
  methods: {
    back() {
      if (confirm('Are you sure you want to leave?')) {
        this.$router.push('/lobby')
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.main {
  background: url('/images/background-gnity.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 100%;
}
.layout {
  &__back {
    height: 105px;
    width: 105px;
    background-color: $dark-grey;
    color: white;
    z-index: 99;
  }

  &__bg {
    &-image {
      height: 100%;
      width: 100%;

      &:after {
        content: '';
        background: url('/images/background-ronaldo.png');
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        top: 80px;
        left: 42px;
        right: 0;
        bottom: 0;
        z-index: -1;
        mix-blend-mode: multiply;
      }
    }

    &-g {
      height: 100%;
      width: 100%;

      &:after {
        content: '';
        background: url('/images/background-gnity.png');
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
      }
    }
  }
}
</style>
