<template>
  <section class="match">
    <match-component
      bg="bg-black"
      title="A match has been found for you!"
      desc="We’ve found a compatible opponent for you to play Squad Battles with in FIFA 19"
    >
      <template #information>
        <p
          style="font-size: 12px;
          line-height: 14px;"
        >
          By tapping accept, you agree to play a match that may last for up to
          30 minutes.
        </p>
      </template>
    </match-component>
    <div class="match__button animate__animated animate__slideInRight">
      <button-component link="/play" title="Accept" class="w-full">
        <template #content>
          <p
            clas="w-full match__timer"
            style="margin-left: auto; margin-right: auto"
          >
            {{ timer }}
          </p>
        </template>
      </button-component>
    </div>
  </section>
</template>

<script>
import matchComponent from '@/components/match-component'
import buttonComponent from '@/components/button-component'

export default {
  name: 'FoundPage',
  components: {
    buttonComponent,
    matchComponent
  },
  layout() {
    return 'no-nav'
  },
  head() {
    return {
      title: 'Matching'
    }
  },
  data() {
    return {
      timer: '01:00',
      interval: null
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.interval = setInterval(() => {
        const elem = this.timer.split(':')
        elem[0] = Number(elem[0])
        elem[1] = Number(elem[1])

        if (elem[1] === 0) {
          if (elem[0] > 0) {
            elem[1] = 59
            elem[0] = this.diffMinute(Number(elem[0]))
          }
        } else {
          elem[1] = elem[1] - 1
          if (elem[1] === 0 && elem[0] === 0) {
            clearInterval(this.interval)
            this.timer = '00:00'
            this.minusInterval()
          }
        }

        this.timer = `${
          Number(elem[0]) < 10 ? `0${Number(elem[0])}` : elem[0]
        }:${Number(elem[1]) < 10 ? `0${Number(elem[1])}` : elem[1]}`
      }, 1000)
    },
    minusInterval() {
      this.interval = setInterval(() => {
        const elem = this.timer.split(':')
        elem[0] = Number(elem[0])
        elem[1] = Number(elem[1])

        if (elem[1] === 59) {
          elem[1] = 0
          elem[0] = Number(elem[0]) * -1 - 1
        } else {
          elem[1] = elem[1] + 1
        }
        this.timer = `-${elem[0] < 10 ? `0${elem[0] * -1}` : elem[0 * -1]}:${
          Number(elem[1]) < 10 ? `0${Number(elem[1])}` : elem[1]
        }`
      }, 1000)
    },
    diffMinute(minute) {
      if (minute === 1) {
        return 0
      } else {
        return minute - 1
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.match {
  color: white;
  padding-bottom: 26px;

  &__button {
    padding-left: 81px;
    margin-top: -45px;
  }
}
</style>
