<template>
  <div class="container">
    <div class="flex flex-col items-center p-4">
      <img
        src="~/assets/images/gfinity-logo.png"
        class="mb-10"
        alt="gfinity-logo"
      />
      <nuxt-link to="/lobby" class="button--grey">
        To Lobby
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'empty'
}
</script>
<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
