<template>
  <section class="lobby relative">
    <div class="p-4 lobby__content">
      <h1 class="lobby__title">
        steveroesler’s lobby
        <img src="@/assets/images/icons/gf-lock.svg" class="inline" />
      </h1>
      <p class="lobby__tag inline">FIFA 19</p>
      <div class="flex mt-6 lobby__teams">
        <div class="lobby__team">
          <img
            src="@/assets/images/avatars/avatar.png"
            class="rounded-lg object-cover lobby__team-avatar shadow-md mb-4"
            alt="avatar"
          />
          <p class="lobby__team-as">Team Leader /</p>
          <h3 class="lobby__team-name">steveroesler</h3>
          <div class="flex items-center">
            <p class="lobby__team-status inline mr-3">READY</p>
            <div class="flex lobby__team-pts">
              <svg
                width="14"
                height="16"
                viewBox="0 0 14 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="inline mr-1"
              >
                <path
                  d="M14 6.87672V14.8114H11.0761L10.8981 13.392C9.84073 14.6125 8.30439 15.2621 6.72833 15.1553C5.86123 15.1625 4.99997 15.0072 4.18579 14.6968C3.39747 14.3935 2.67245 13.9356 2.05006 13.3479C1.39029 12.7061 0.880118 11.9161 0.558437 11.038C0.17836 9.99666 -0.00856611 8.88978 0.00755343 7.77599C-0.0818709 5.70369 0.625656 3.67966 1.97378 2.15115C3.36321 0.686672 5.28669 -0.0925328 7.26227 0.00878044C8.82671 -0.0431087 10.3639 0.443432 11.6354 1.39295C12.848 2.35267 13.639 3.77906 13.8305 5.35149H9.51665C9.28642 4.22449 8.29041 3.44835 7.18599 3.53532C6.37688 3.4986 5.61546 3.93373 5.21129 4.66382C4.72643 5.61433 4.49799 6.68368 4.55023 7.75836C4.55023 10.3621 5.51922 11.664 7.4572 11.664C7.97176 11.6545 8.47248 11.4891 8.89797 11.1879C9.31883 10.9213 9.62294 10.4942 9.74548 9.99771H7.77925V6.87672H14Z"
                  fill="#E94235"
                />
              </svg>
              <small>74</small>
            </div>
          </div>
        </div>
        <div class="lobby__team">
          <img
            src="@/assets/images/avatars/default.png"
            class="rounded-lg object-cover lobby__team-avatar shadow-md mb-4"
            alt="avatar"
          />
          <p class="lobby__team-as">Team Player /</p>
          <h3 class="lobby__team-name">
            Invite Player
            <img
              src="@/assets/images/icons/gf-caret-right.svg"
              class="inline-block ml-2"
            />
          </h3>
        </div>
      </div>
    </div>
    <client-only>
      <flyup-component :data="menus" />
    </client-only>
    <button-component link="/searching">
      <template #content>
        <p>4,021 in Queue</p>
      </template>
    </button-component>
  </section>
</template>
<script>
import buttonComponent from '@/components/button-component'
import FlyupComponent from '@/components/flyup-component'

export default {
  components: {
    buttonComponent,
    FlyupComponent
  },
  head() {
    return {
      title: 'Lobby'
    }
  },
  data() {
    return {
      menus: [
        {
          name: 'Type',
          status: 'Competitive'
        },
        {
          name: 'Gamemode',
          status: 'Squad Battles'
        },
        {
          name: 'Lobby Status',
          status: 'Invite Only'
        }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
.lobby {
  &__content {
    // margin-bottom: 89px;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: -2px;
    margin-bottom: 10px;
    max-width: calc(100vw - 26px);

    img {
      margin-left: 14px;
    }
  }

  &__tag {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 1px 7px 1px 5px;
    background-color: $dark-grey;
    color: white;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;

    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  &__teams {
    margin-bottom: 32px;
  }

  &__team {
    &-avatar {
      width: 140px;
      height: 187px;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &-as {
      font-size: 12px;
      line-height: 14px;
      color: $light-grey;
      margin-bottom: 0.375rem;
    }

    &-name {
      font-size: 16px;
      line-height: 19px;
      font-weight: bold;
      letter-spacing: -0.5px;
      margin-bottom: 1rem;

      img {
        height: 12px;
      }
    }

    &-status {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      padding: 4px 5px;
      font-weight: bold;
      border: 1px solid $dark-grey;
    }

    &-pts {
      small {
        font-size: 11px;
        line-height: 13px;
        letter-spacing: -0.5px;
        color: $red;
        font-size: bold;
      }
    }
  }
}
</style>
