<template>
  <section class="h-full w-full items-center">
    <div class="py-10 px-4">
      <h1 class="mb-4 title-super">Let's Play</h1>
      <nuxt-link to="/" class="button--grey">Go</nuxt-link>
    </div>
  </section>
</template>
<script>
export default {
  name: 'PlayPage',
  layout: 'empty'
}
</script>
