<template>
  <section class="searching">
    <match-component
      title="Searching for compatible opponents"
      desc="We’re searching our database of players to pair you with an opponent of
      similar skill"
    >
      <template #information>
        <p><b>4,021</b> in Queue</p>
      </template>
    </match-component>
    <div class="searching__button animate__animated animate__slideInRight">
      <button-component
        bg="bg-black"
        :cust-icon="true"
        title="Searching..."
        class="w-full"
      >
        <template #content>
          <p
            clas="w-full searching__timer"
            style="margin-left: auto; margin-right: auto"
          >
            {{ timer }}
          </p>
        </template>
        <template #icon>
          <button @click="close()">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="2.34314"
                y="0.727051"
                width="18.2857"
                height="2.28571"
                transform="rotate(45 2.34314 0.727051)"
                fill="#FFF"
              />
              <rect
                width="18.2857"
                height="2.28571"
                transform="matrix(-0.707107 0.707107 0.707107 0.707107 13.6569 0.727051)"
                fill="#FFF"
              />
            </svg>
          </button>
        </template>
      </button-component>
    </div>
  </section>
</template>

<script>
import matchComponent from '@/components/match-component'
import buttonComponent from '@/components/button-component'

export default {
  name: 'MatchPage',
  components: {
    buttonComponent,
    matchComponent
  },
  layout() {
    return 'no-nav'
  },
  head() {
    return {
      title: 'Matching'
    }
  },
  data() {
    return {
      timer: '01:00',
      interval: null
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.interval = setInterval(() => {
        const elem = this.timer.split(':')
        elem[0] = Number(elem[0])
        elem[1] = Number(elem[1])

        if (elem[1] === 0) {
          if (elem[0] > 0) {
            elem[1] = 59
            elem[0] = this.diffMinute(Number(elem[0]))
          } else {
            clearInterval(this.interval)
            this.$router.push('/found')
          }
        } else {
          elem[1] = elem[1] - 1
        }

        this.timer = `${
          Number(elem[0]) < 10 ? `0${Number(elem[0])}` : elem[0]
        }:${Number(elem[1]) < 10 ? `0${Number(elem[1])}` : elem[1]}`
      }, 1000)
    },
    diffMinute(minute) {
      if (minute === 1) {
        return 0
      } else {
        return minute - 1
      }
    },
    close() {
      if (confirm('Are you sure you want to cancel?')) {
        this.$router.back()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.searching {
  color: white;
  padding-bottom: 26px;

  &__button {
    padding-left: 81px;
    margin-top: -45px;
  }
}
</style>
