<template>
  <header class="relative">
    <top-header-component />
    <nav class="px-4 header-component__nav">
      <div class="flex space- py-4 items-center header-component__title">
        <button @click="$router.back()">
          <img
            src="@/assets/images/icons/gf-arrow-left.svg"
            alt="icon-left"
            class="mr-6"
          />
        </button>
        <h6>Matchmaking Lobby</h6>
      </div>
    </nav>
    <div class="header-component__bg-image"></div>
  </header>
</template>
<script>
import topHeaderComponent from '@/components/layouts/top-header-component.vue'
export default {
  name: 'HeaderComponent',
  components: {
    topHeaderComponent
  }
}
</script>
<style lang="scss" scoped>
@import 'header-component';
</style>
