.header-component {
  &__title {
    border-bottom: 1px solid $concrete;

    h6 {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.5px;
      font-weight: bold;
    }
  }

  &__bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url('/images/background-ronaldo.png');
    z-index: -1;
    background-repeat: no-repeat;
    background-position: calc(100vw - 200px) 58%;
    mix-blend-mode: multiply;
  }
}