.top-header-component {
  height: 105px;
  width: 100%;

  &__logo {
    width: 105px;
    height: 105px;
    background-color: $dark-grey;
  }

  &__title {
    border-bottom: 1px solid $concrete;

    h6 {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.5px;
      font-weight: bold;
    }
  }
}