<template>
  <div class="top-header-component flex items-center justify-between">
    <div class="top-header-component__logo flex">
      <img
        class="m-auto align-middle"
        src="@/assets/images/gfinity-white.png"
        alt="gfinity-white"
      />
    </div>
    <div class="inline-flex px-4">
      <p class="mr-6 collout-medium">FIFA 19</p>
      <button>
        <svg
          width="20"
          height="12"
          viewBox="0 0 20 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="20" height="3" fill="#1B1B1B" />
          <rect y="9" width="20" height="3" fill="#1B1B1B" />
        </svg>
      </button>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import 'top-header-component';
</style>
